<!doctype html>
<html>
  <head>
    <title>Week 5</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="container">
      <h1><a href="/">Welcome to Fwitter!</a></h1>

      <% if signed_in? %> <!-- If the user is signed in, display their user name and a link to sign out -->
        <p><%= current_user.name %></a> | <a href="/sign-out">Sign Out</a></p>
      <% elsif !@signin_page %> <!-- In our controller, we create an instance variable called @signin_page when rendering the signin page. That way, we don't show this link on that page.  -->
        <a href="/sign-in">Sign In</a>
      <% end %>

      <%= yield %>

      <div class="footer">
        <h4><a href="/tweet">Tweet</a> | <a href="/users">Users</a></h4>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
