<div class="error"><p><%= session[:error] %></p></div>
<!-- Our sign-in form with a method of "post" and an action of "/sign-in" -->
<h3>Sign In</h3>
<form action="/sign-in" method="POST">
  <p>Name: <input type="text" name="name"></p>
  <p>Email: <input type="text" name="email"></p>
  <input class="btn btn-primary" type="submit">
</form>
</br>

<!-- Notice we still need a separate form for signing up - this is a different action from logging in.  -->
<h3>Sign Up</h3>
<form action="/sign-up" method="POST">
  <p>Name: <input type="text" name="name"></p>
  <p>Email: <input type="text" name="email"></p>
  <input class="btn btn-primary" type="submit">
</form>