<h2>Tweets!</h2>
<% @tweets.each do |tweet| %>
  <p><strong><%= tweet.user.name %>:</strong> <%= tweet.status %></p>
<% end %>

<% if signed_in? %>
  <h3>Add a tweet</h3>
  <form action="/tweets" method="POST">
    <p><textarea rows="4" cols="50" name="status"></textarea></p>
    <input type="hidden" name="user_id" value="<%= current_user.id %>">
    <input class="btn btn-primary" type="submit">
  </form>
<% end %>
