<% if session[:user_id] %> <!-- A user can only see the form to add a new tweet if they're logged in. -->
  <h2>Add a tweet</h2>
  <form action="/tweet" method="POST">
  <!-- We've updated our form so that it has a hidden input contain the id of the currently signed in user.  -->
  <p><strong>User:</strong> <%= @user.name %> <input type="hidden" name="user_id" value="<%= @user.id %>"></p>
  <p><strong>Status:</strong> <input type="text" name="status"></p>
  <input class="btn btn-primary" type="submit">
  </form>
<% end %>
